
.overview_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
  padding: 25px;
  gap: 25px;
}

.accounts_textbox {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12.5px;
  transition: background-color 140ms ease-out 100ms;
  font-size: 2em;
  font-family: 'Oooh Baby', cursive;
}

.income_textbox {
  background-color: rgb(236, 143, 56);
}

.food_textbox {
  background-color: rgb(36, 206, 36);
}

.goingout_textbox {
  background-color: rgb(45, 215, 238);
}

.other_textbox {
  background-color: grey;
}

.accounts_textbox:hover {
  border: 1px solid purple;
  cursor: pointer;
}

.align_left {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}
